@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #7d7f8b;
    --black-color: #222020;
    --border: 0.1rem solid rgba(255,255,255,0.4)

}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /*text-transform: capitalize;*/
    transition: 0.2s ease;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

body{
    background-color: var(--main-color);
    height: 200vh;

}

section{
    padding: 3.5rem 7%;
}


.header .logo img{
    height: 7rem;
}

.header{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0 7%;
  margin: 1.5rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 17px -2px rgb(0,0,0,0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

.heading{
    color: white;
    padding: 1rem;
    text-transform: none;
    font-size: 4rem;
    margin-bottom: 3.5rem ;
    border-bottom: 0.1rem solid white;

}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;

}
.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;

}

.header .buttons button{
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
    background-color: transparent;
}

/* home*/

.home {
    min-height: 105vh;
    background: url(../images/zyro-image.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
    

}


.home .content {
    max-width: 60rem;
}

/*.home .content h3{
    font-size: 6rem;
    color: white;
    position: absolute;
    right: 61rem;
    top: 20rem;
}

.home .content p{
    font-size: 7rem;
    font-weight: 300;
    padding: 1rem ;
    color: #020202;
    position: absolute;
    top: 35rem;
    right: 83rem;
    line-height: 1.2;
    
    
}*/

.home .content h3 {
    font-size: 6rem;
    color: white;
    position: absolute;
    left: 50%; /* Yatayda merkezleme */
    transform: translate(-50%, -50%); /* Yatayda merkezleme */
    
    top: 25%;

}

.home .content p {
    font-size: 7rem;
    font-weight: 300;
    padding: 1rem;
    color: #020202;
    position: absolute;
    left: 45%;
    top: 53%; /* İstediğiniz miktarda aşağıya inmek için bir değer belirleyin */
    transform: translateX(-50%);
    transform: translateY(-50%);
    text-align: center; /* İçeriği yatayda merkezlemek için */
    line-height: 1.2;
}








/*.scroll-hide {
    top: -1000px;
}*/

.detector .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}


.detector .row .image{
    flex: 1 1 45rem;
}

.detector .row img{
    width: 100%;
    
}

.detector .row .content{
    flex: 1 1 45rem;
}

.detector .row .content h2{
    font-size: 3rem;
    
    
    

}


.detector .row .content .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 30rem;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    cursor: pointer;
    text-align: center;
}

/*.detector .row .content input {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}
*/

.video::file-selector-button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
}
